body{
    background-color: #eaeaea;
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
img{
   display:inline-block; 
}
h1{
    width:100%;
    margin:0.5% auto;
    font-size:60px;
    font-family: 'Caveat', cursive;
    color:#ff2e63;
    line-height: 2em;
}
h3{
    color: #11999E;
}
a{
    color:#11999E
}
.name-title{
    background-color:green;
}
.programmer{
    font-weight: normal;
}
.box1{
    background-color: red;
}
.box2{
    background-color:green;
}
.underline{
    text-decoration: underline;
}
.leftImg{
    position:left;
    left:20%;
}
.topcloud{
    position:absolute;
    left: 60%;
}
.bottomcloud{
    position: absolute;
    }
.topbox{
    padding-top:20px;
    padding-bottom:40px;
}
.wrap-rounded{
    object-fit: cover;
    border-radius: 50%;
    height:15em;
    float:left;
    margin-right:20px;
}
.skill-row{
    width: 60%;
    margin: 100px,auto;
    display:inline-block;
    text-align: left;
    margin:20px;
}