/* Headings / Text Formatting / Generic Styles */
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}
h1{
    font-size: 3.5rem;
}

h2{
    line-height:1.5;
    font-size: 3rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align:center;
}

.red-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: #ffffff;
    color:black;
}
.orange-section{
    background-color: #ef8172;
    color:white;
}

/* Navbar */
.navbar{
    padding: 0 0 2% 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    padding:0 25px;
}
.navbar-container{
    padding:3%;
}


/* Title Splash */
#title{
    text-align: left;
}
.iphone{
    transform:rotate(25deg);
    width: 50%;
    position:absolute;
}
.splashRow{
    margin:5% 0;
}
.download-buttons-splash{
    margin: 5% 3% 5% 0;
}


/* Features Section */
#features{
    margin: 0 auto;
    padding:4% 0;
    position:relative;
    z-index:1;
}

.fa-heart, .fa-bullseye, .fa-check-circle{
    color:#ef8172;
    font-size:4em;
    padding-bottom:2%;  
}

.fa-heart:hover, .fa-bullseye:hover, .fa-check-circle:hover{
    color:#ff4c68;
}

.features-row{
    padding:2% 7%;
}

/* Testimonial Section */
#testimonials{
    padding: 7% 15%;
}
.carousel-item{
    padding: 7% 10%;
}

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}

/* Cred Section */
#press{
    padding-bottom:3%;
}
.press-logo{
    width:15%;
    margin:20px 20px;
}

/* Pricing Section */

#pricing{
    padding:100px;
    
}
.pricing-col{
    padding:3%;
}

.pricing-title{
    font-size: 1.5rem;
}

@media (max-width:1028px){
    .iphone{
        position:static;
        transform:rotate(10deg);
    }
    #title{
        text-align: center;
    }
}

/* Call to Action Section */

#cta{
    padding:10% 0;
}

.cta-text{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    font-size: 2.5rem;
}

.cta-download-row{
    margin-top:4%;
}

.download-cta{
    margin-right: 3%;
}

#footer{
    padding:2% 0;
    text-align: center;
}
.social-icons{
    margin-top:1%;
    margin-bottom:2%;
}
.social-icon{
    margin-right:2%;
}